.title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.title > div {
  padding: 5px;
  color: white;
  margin-left: 10px;
  background-color: var(--blue);
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
}

.whitespace{
  height: 30px;
}